<@- include('include/_header.ejs', {
  data: {
    title: 'Hello World!',
    css: 'css/index.css'
  }
}); @>

<body>
    <h1>Hello World!</h1>
</body>

<@- include('include/_footer.ejs', { data: { main: 'modules/index/index'}}) @>